#comprarTickets {
    color: #29a744;
}

#carouselExampleSlidesOnly {
    background-color: rgba( 0, 0, 0, 0.3 );
    }

#fondo {
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    /* position: relative;
    z-index: 100; */
}

.carousel-caption {
    position: absolute;
    right: 10%;
    bottom: 10px;
    left: 50%; 
    z-index: 1000;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    text-align: right;
    font-size: 5px;
    font-weight: 20;
}
.comprarButton {
    background: #29a744
}
p  {
    text-align: center;
}
h3 {
    text-align: center;
}
h6 {
    text-align: center;
}
#tituloCharla {
    text-align: left;
}

u.dotted{
    text-decoration:underline;
    text-decoration-style: dotted;
}

footer {
    background-color: #03495E;
    color: white;
    padding: 18px 4px;
    cursor: pointer;
    width: 100%;
    bottom: 0; /*aqui lo enviamos al fondo*/
    font-size: 12px;
    text-shadow: 0px 1px rgba( 0, 0, 0, 0.3 );
    text-align: center
    
}
hr {
    color: white;
    opacity: 0%;
}

#submitButton {
    background-color: #96c93e;
}
#borrarButton {
    background-color: #96c93e;
}
#resumenButton {
    background-color: #96c93e;
}