
/* h1 {color:  red; /* ---> Propiedad: Valor; */ 
  /* Selector {
    propiedad: valor;
} 

SELECTOR UNIVERSAL: * {} Selecciona todos los elementos
SELECTOR DE TIPO: h1 {} Por elemento (h1, p, etc)
SELECTOR POR CLASES: .nombredelaclase {} (clases se pueden repetir)
SELECTOR POR ID: #nombredelID unicos no se repiten
SELECTOR POR ATRIBUTO: (htmlcualquiera="see") --> [cualquiera="see" {} ]creo un atributo en html y lo defino aca 
SELECTOR DESENDIENTE: (<h2> <p> titulo </p> </h2>) --> h2 p {}
SELECTOR POR PSEUDOCLASES b:hover {}

ESPECIFICIDAD:
    Improtant (Se especifica despues de definir mi valor en css así: !important) en caso extremo, sin embargo no es recomedable.
    Estilos en Línea (el que hice en html)
    Identificadores
    Clases
    Peudo-clases
    Atributos
    Elementos
    Pseudoelementos

*/

.Rojo {
  background-color: teal;
  color: white;
}

#LoremText{
  font-style:italic; 
}